<!-- -->

<launch>
  <!-- LOCALIZATION ALGORITHM --> 
<!--  <node pkg="closing" 
        type="main3" 
        name="main3" 
        output="screen" />        -->

  <node pkg="closing" 
        type="closing" 
        name="closing" 
        output="screen"/>

</launch>





























